[submodule "dep"]
  path = dep
  url = git@github.com:RagedUnicorn/mangos-submodule-mangosdeps.git
[submodule "src/realmd"]
  path = src/realmd
  url = git@github.com:RagedUnicorn/mangos-submodule-realmd.git
[submodule "src/modules/SD3"]
  path = src/modules/SD3
  url = git@github.com:RagedUnicorn/mangos-submodule-scriptdev3.git
[submodule "src/tools/Extractor_projects"]
  path = src/tools/Extractor_projects
  url = git@github.com:RagedUnicorn/mangos-submodule-extractor.git
[submodule "win"]
  path = win
  url = git@github.com:RagedUnicorn/mangos-submodule-easybuild.git
[submodule "src/modules/Eluna"]
  path = src/modules/Eluna
  url = git@github.com:RagedUnicorn/mangos-submodule-eluna.git
